<% if user_signed_in? %>
  <script type="text/javascript">
	window.location.href="/notes"
  </script>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <p>Hello DigitalOcean!</p>
<% end %>